<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
        <title>About Us</title>
    </head>
    <body>
        <h2>About Us</h2>
        <p> We are Web Developers learning Django.
        Django is a python web framework that makes it possible for users to deply their own web apps.
        We Look to go beyond.</p>
        <img src = "{% static 'images/c1.png' %}" alt = "cancer" />
        <img src = "{% static 'images/c2.png' %}" alt = "cancer" />
        <img src = "{% static 'images/c3.png' %}" alt = "cancer" />
    </body>

</html>