<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>My Rango Website</title>
    </head>
    <body>
        <h1> Home </h1>
        <p> Welcome to the Rango home page</p>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href = "/rango/category/{{category.slug}}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p><strong>No Categories at this time</strong></p>
        {% endif %}
        <p> See what we are about on the <a href="/rango/about/"><strong>About </strong>page</a></p>
        <img src = '{% static "images/car.jpeg" %}' alt = "car" />
    </body>

</html>
